PORT=10000
NODE_ENV=production
CLIENT_URL=YOUR_VERCEL_URL

DB_HOST=mysql-2d1d896e-ganireddy548-3e0d.i.aivencloud.com
DB_PORT=20858
DB_USER=avnadmin
DB_PASSWORD=
DB_NAME=defaultdb
DB_SSL=true

JWT_SECRET=YOUR_NEW_LONG_RANDOM_SECRET
JWT_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=	Root
CLOUDINARY_API_KEY=841724431511878
CLOUDINARY_API_SECRET=VfFiO58TUPTGNraRZlMU1WYslcg